.about {
    display: flex;
    flex-direction: column;
    gap: 65vh;
}
.MuiPaper-root {
    border-radius: 0 !important;
}

.about__options {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
