.header {
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    border-bottom: 1px solid #1e2d3d;
}
.header__name {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    color: #607b96;
}

.header__menu-icon {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .header {
        height: 50px;
        display: flex;
        justify-content: flex-start;
        padding: 0 1% 0 1%;
    }
    .header__menu-icon {
        display: none;
    }
    .header__name {
        border-right: 1px solid #1e2d3d;
        max-height: 100%;
        margin: 0;
        padding: 15px 100px 0 0;
    }
}
