@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
.const {
    color: #4d5bce;
}
.var {
    color: #43d9ad;
}

.equal-sign {
    color: #ffffff;
}

.value {
    color: #e99287;
    text-decoration: none;
}
.comment {
    font-weight: 450;
    font-size: 14px;
    line-height: 140%;
    color: #607b96;
}
.back {
    color: white;
    font-family: "Fira code";
    text-indent: 5px;
    margin: 5px;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .comment {
        font-size: 16px;
    }
    .back {
        display: none;
    }
}
