@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
.const {
    color: #4d5bce;
}
.var {
    color: #43d9ad;
}

.equal-sign {
    color: #ffffff;
}

.value {
    color: #e99287;
    text-decoration: none;
}
